/* HomePageHeader css */
.HomePageHeader.container{
    position: relative;
    }
  
.HomePageHeader .col-5{
  background-color: #1c1c1b;
}
.HomePageHeader .col-5 img{
  position: absolute;
  max-width: 100%;
  height: 500px;
  margin-left: -330px;
  /* opacity: 6%; */
  background-color: #1c1c1b ;
  z-index: 1;
}
.HomePageHeader .col-7 img{
  width: 100%;
  height: 500px;
}
.HomePageHeader .carousel{
  position: absolute;
  z-index: 2;
  background-color: #eff2fe;    /*z-index: -1;*/
  width: 40%;
  height: 170px;
  margin-top: 5%;
  margin-left: 20%;
  text-align: left;
}
.HomePageHeader .carousel p {
  color: #1c1c1b !important ;
  font-size: 110%;
  font-weight: 700;
}
.HomePageHeader .carousel-control-prev{
  display: none;
}
.HomePageHeader .carousel-control-next{
  display: none;
}
.HomePageHeader .carousel-indicators{
margin-bottom: -13%;
margin-left: -50%;}

.HomePageHeader .carousel-indicators button{
width: 15px !important ;
height: 15px !important;
border-radius: 50%;
border: 2px solid #5b5b5b !important ;
}

.HomePageHeader .carousel-indicators .active{
background-color: #1c1c1b;
border: 2px solid #efefef !important ;

}
.HomePageHeader .carousel-item a{
    padding: 5px 45px 5px 45px ;
    border: none;
    background-color: #cccd00;
}
.HomePageHeader .carousel-item i{
  color: #efefef;
}
@media (max-width: 991px) { 
  .HomePageHeader .carousel p {
    font-size: 90% !important;
    font-weight: 600 !important;
  }
  .HomePageHeader .carousel-item a {
    padding: 5px 35px 5px 35px !important;
  }
  .homePageHeader .carousel {
    height: 40% !important;
  }
}
@media (max-width: 589px) { 
  .HomePageHeader .carousel p {
    font-size: 70% !important;
    font-weight: 500 !important;
  }
  .homePageHeader .carousel {
    height: 40% !important;
  }
  .HomePageHeader .carousel-item {
    padding: 8% !important;
  }
  .HomePageHeader .carousel-item a{
   padding: 5px 25px 5px 25px !important ;
    ;
  }

}